<h1><%= @cocktail.name %></h1>
<ul>
<% @cocktail.doses.each do |dose|%>
  <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to 'remove dose', dose_path(dose), method: :delete %></li>
  <% end %>
</ul>

<h2>
Add Ingredients
</h2>



<%= simple_form_for [ @cocktail, @dose ] do |f| %>
<%= raw(p @cocktail.errors) %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "add as Ingredient" %>
<% end %>


<%= link_to 'back to list', cocktails_path %>
